* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100%;
  text-align: center;
  background-image: url(./assests/DesktopBG.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: auto;
  color: #fff;
}

@media (max-width: 768px) {
  .App {
    background-image: url(./assests/MobileBg.png);
    height: auto;
    color: #fff;
  }
}

